$background-color: #2a2d36;
$text-color: white;
$highlight-color: #ffaa00;
$border-color: #666;
$dark-background-color: #15161a;
$button-background-color: #2a2d36;
$button-hover-color: #ffaa00;
$button-border-color: white;
