@import '../../_variables.scss';

.footer {
  background-color: $dark-background-color;
  color: $text-color;
  height: 8.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__css-is-awesome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .footer__box-content {
      text-transform: uppercase; // Apply uppercase to "CSS IS AWESOME"
    }
  }

  &__box {
    position: relative;
    width: 7.1875rem;
    height: 7.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    &:hover .footer__box-border {
      transform: rotate(360deg);
      border-color: $button-hover-color;
      transition: transform 2s, border-color 0.6s;
    }

    &:hover .footer__box-content {
      color: $button-border-color;
    }
  }

  &__box-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.125rem solid $border-color;
    transition: transform 2s, border-color 0.6s;
  }

  &__box-content {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5rem;
    white-space: nowrap;
    transform: translateX(1rem);
    pointer-events: none;
    color: $border-color;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__line {
    display: inline-block;
    height: 1px;
    width: 5rem;
    background-color: $border-color;
    transition: background-color 0.3s;
  }

  &__text {
    font-size: 1.2rem;
    color: $border-color;
    margin: 0 0.5rem;
    transition: color 0.3s;
  }

  &__title:hover .footer__text {
    color: $text-color;
  }

  &__title:hover .footer__line {
    background-color: $button-hover-color;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-checkbox {
      display: none;
    }

    .dropdown-toggle {
      background-color: $dark-background-color;
      color: $border-color;
      border: 0.125rem solid white;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s, color 0.3s, width 0.3s;
      white-space: nowrap;

      .arrow {
        margin-left: 0.5rem;
        transition: transform 0.3s ease;
        display: inline-block;
        transform: rotate(90deg);
        font-weight: bold;
      }

      &:hover {
        background-color: $button-hover-color;
        color: $button-border-color;
      }
    }

    .dropdown-checkbox:checked + .dropdown-toggle .arrow {
      transform: rotate(-90deg);
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      bottom: 100%;
      right: 0;
      background: $button-border-color;
      color: $dark-background-color;
      padding: 0.5rem 0;
      border-radius: 0.25rem;
      box-shadow: 0 0 0.625rem $dark-background-color;
      z-index: 1000;

      .dropdown-item {
        padding: 0.5rem 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-transform: uppercase; // Apply uppercase to dropdown items

        .arrow {
          margin-right: 0.5rem;
          transition: color 0.3s;
        }

        &:hover {
          color: $button-hover-color;

          .arrow {
            color: $button-hover-color;
          }
        }

        &.disabled {
          color: $border-color;
          cursor: not-allowed;
        }
      }
    }

    .dropdown-checkbox:checked ~ .dropdown-menu {
      display: block;
    }
  }

  @media (max-width: 960px) {
    .dropdown-toggle {
      max-width: 16.875rem;
    }
  }

  @media (max-width: 600px) {
    .dropdown-toggle {
      max-width: 100%;
    }
  }
}
